<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="exception_max_retries" value="3" />
    <add key="exception_backoff" value="true" />
    <add key="analytics_workspace_id" value="0c97e19b-dd0b-4632-bf43-5cf65e827e92" />
    <add key="analytics_shared_key" value="gvgGmlFvHV1MsVxQB9ElDPNrWDKmXXIR6hnJivdESaqGLafbYpQdnHy2dPZl3cLA/SpyprIj+x5qr/kBlCxMKg==" />
    <add key ="analytics_log_name" value="integrationexceptions" />
  </appSettings>
</configuration>